.infostock {
  outline: 1px solid red;
  position: absolute;
  transform: translateX(103%);
  transition: 1s transform ease-in-out;
  top: 45%;
}

.infostock__--active {
  position: absolute;
  transform: translateX(52%);
  top: 45%;
  transition: 1s transform ease-in-out;
  width: 65%;
  padding: .4em;
  background-color: #030303;
  z-index: 12;
  border-radius: 5px 0 0 5px;
}
.infostock__cont{
display: flex;
justify-content: center;
align-items: center;
}

.infostock-cont--info {
  padding: 0.3em;
  display: flex;
  flex-direction: column;
  gap: .3em;
}

.infostock__cont--p {
  display: flex;
  justify-content: space-between;
}
