.infostock {
  position: absolute;
  transform: translateX(194%);
  background-color: #030303;
  transition: 0.5s transform ease-in-out;
  top: 45%;
  width: 65%;
  border-radius: 5px 0 0 5px;
  padding: 0.4em;

}

.infostock__--active {
  position: absolute;
  transform: translateX(52%);
  top: 45%;
  transition: 0.5s transform ease-in-out;
  width: 65%;
  padding: 0.4em;
  background-color: #030303;
  z-index: 12;
  border-radius: 5px 0 0 5px;
}
.infostock__cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infostock-cont--info {
  padding: 0.3em;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.infostock__cont--p {
  display: flex;
  justify-content: space-between;
}
