.cantidad {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.cantidad__label {
  font-size: 1.3em;
  font-weight: 700;
  color: #3a3a3a;
  letter-spacing: 1px;
}

.cantidad__control {
  display: flex;
  align-items: center;
  gap: 0.5em;
  border-radius: 5px;
  padding: 0.4em;
  width: max-content;

}

.cantidad__input {
  width: 30px;
  text-align: center;
  border-radius: 6px;
  color: #ffffff;
  border: none;
  padding: 6px;
  font-size: 1.7em;
  font-weight: 800;
  background-color: #3a3a3a00;
}

.cantidad__btn {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: 2em;
  cursor: pointer;
  font-weight: 500;
  background-color: #757575;
  border-radius: 15px;
 display: flex;
 justify-content: center;
 align-items: center;

}