.menu-desplegable{
display: flex;
justify-content: space-between;
background-color: #000000ec;
backdrop-filter: blur(5px);
color: #fff;
height: 100vh;
position: absolute;
transition: all ease-in-out .3s;
width: 100%;
transform: translateX(103%);
position: absolute;
z-index: 82;
}
.menu-desplegable-active{
display: flex;
justify-content: space-between;
background-color: #000000ec;
backdrop-filter: blur(5px);
color: #fff;
height: 100vh;
position: absolute;
transition: all ease-in-out .3s;
position: absolute;
z-index: 82;
width: 100%;
transform: translateX(0%);
}

.menu-desplegable__icon-close-carrito{
display: flex;
justify-content: space-between;
padding: .2em 0 1.5em 0;
}
.menu-desplegable-icons{
  font-size: 1.5em;
  
}

.menu-desplegable-icon-carrito{
  color: red;
}
.menu-desplegable__icon-cantidad-productos{
  background-color: #f00000;
  font-size: 11px;
  padding: .2em .5em;
  border-radius: 19px;
  position: absolute;
  top: 13px;
  left: 38px;
}
.menu-desplegable-title{
margin: .6em ;
font-size: 1.9em;
}
.menu-desplegable-cont{
outline: 1px solid #22222252;
padding: .7em;
font-size: 1.4em;
backdrop-filter: blur(1px);

}
.menu-desplegable-lista{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.menu-desplegable__seccion {
  max-height: 0;
  overflow: hidden;
 color:#505050;
  font-size:.8em;
  transition: max-height 0.3s ease;
}

.menu-desplegable__seccion--active {
  max-height: 200px;
  color:#505050;
  font-size:.8em;
}