.menu-desplegable{
display: flex;
justify-content: space-between;
background-color: #000000ec;
backdrop-filter: blur(5px);
color: #fff;
height: 100vh;
position: absolute;
transition: all ease-in-out .3s;
width: 100%;
transform: translateX(103%);
position: absolute;
z-index: 82;
}
.menu-desplegable-active{
display: flex;
justify-content: space-between;
background-color: #000000ec;
backdrop-filter: blur(5px);
color: #fff;
height: 100vh;
position: absolute;
transition: all ease-in-out .3s;
position: absolute;
z-index: 82;
width: 100%;
transform: translateX(0%);
}



.menu-desplegable__icon-close-carrito{
display: flex;
justify-content: space-between;
padding: .2em 0 1.5em 0;
}
.menu-desplegable-icons{
  font-size: 1.7em;
  width: 39px;
  
}

.menu-desplegable-icon-carrito{
  color: red;
}
.menu-desplegable__icon-cantidad-productos{
  font-size: 11px;
  padding: .2em .5em;
  border-radius: 19px;
  position: absolute;
  top: 13px;
  left: 38px;
}
.menu-desplegable-title{
margin: .6em ;
font-size: 1.9em;
}
.menu-desplegable-cont{
padding:  .7em .7em .7em .2em;
font-size: 1.4em;
backdrop-filter: blur(1px);
border-left: 1px solid #ffffff;
}
.menu-desplegable-lista{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.menu-desplegable-item{


}

.menu__desplegable--numero-orden{
  color: #5e5e5e;
  font-size: .5em;
  display: grid;
  grid-template-columns: 25px 1fr;
  letter-spacing: -1px;

}
.menu__desplegable--text-item{
font-size: 2.2em;
color: #ffffff;
}
.menu__desplegable--contenido-text{
  font-size: .8em;
  padding: .2em;

}

.menu-desplegable__seccion {
  max-height: 0;
  overflow: hidden;
 color:#505050;
  font-size:.8em;
  transition: max-height 0.3s ease;
}

.menu-desplegable__seccion--active {
  max-height: 200px;
  color:#505050;
  font-size:.8em;
}