.carrousel {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #29292900;
}

.carrousel__track {
  display: flex;
  transition: transform 0.3s ease;
  height: 100%;
}

.carrousel__imagen {
  object-fit: contain;
  width: 100%;
}

.carrousel__controles {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

.carrousel__btn {
  pointer-events: all;
  font-size: 2em;
  color: #55555500;
  padding: 0.2em;
  height:100%;
}